/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.dark.css';
TextField {
    margin-top: 20px;
}
Button, TextField {
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
}
.submit-button {
    background-color: #CB1D00;
    color: white;
    margin-top: 20;
}

.input:disabled {
    background-color: #C0C0C0;

}

.submit-button:disabled {
    background-color: #C0C0C0;
}

.reset-form-button {
    background-color: #4c4cff
}

.confirm-button {
    background-color: #2ECC40;
}

Label {
    margin: 10;
    font-weight: bold;
}